<% if @change_password %>
  <div style='border: 1px solid red; padding: 20px; text-align: center; font-weight: bold; color: red;'>
    <h2>!! A C H T U N G !!</h2>
    <p>Für den Benutzer 'admin' dürfen Sie nicht das Passwort 'admin' benutzen. 
       <br/>
       Bitte ändern Sie das Passwort des Benutzers 'admin'.
    </p>
  </div>
<% end %>

<% form_tag 'passwords' do %>
<table>
  <tr><th>Benutzer</th><th>Verschlüsseltes Passwort</th><th>Neues Passwort</th><th>Benutzer löschen</th></tr>
  <% @users.each do |u| %>
    <tr>
      <td align=left valign=top><%= hidden_field_tag "user[#{u[:user]}]", u[:user] %><%= u[:user] -%></td>
      <td align=left valign=top><%= hidden_field_tag "old_password[#{u[:user]}]", u[:password] %><%= u[:password] -%></td>
      <td align=left valign=top><%= text_field_tag "password[#{u[:user]}]" -%></td>
      <td align=left valign=top><%= check_box_tag( "delete[#{u[:user]}]" ) if u[:user] != 'admin' -%>&nbsp;</td>
    </tr>
  <% end %>
    <tr>
      <td align=left valign=top>Neuer Benutzer:<br/><%= text_field_tag "new_user" -%></td>
      <td>&nbsp;</td>
      <td align=left valign=top>Passwort:<br/><%= text_field_tag "new_password" -%></td>
      <td>&nbsp;</td>
    <tr>
</table>
<%= submit_tag 'Speichern' -%>
<% end %>
<hr>
<center>
<%= link_to 'Zurück', root_path -%>
</center>
